html, body, .messages, .input {
  margin: 0px auto;
  padding: 0px;
  font-family: Tahoma, Arial, sans-serif;
}

body {
  background-color: gray;
}

.messages {
  width: 100%;
  max-width: 800px;
  height: 80vh;
  padding: 1em;
  box-sizing: border-box;
  background-color: white;
  overflow-y: scroll;
}

  .messages .theirs, .messages .mine {
    border: 0px;
    width: 70vw;
    max-width: 600px;
    padding: 1em;
    border-radius: 10px;
  }

  .messages .theirs {
    margin: 1em auto 1em 0;
    background-color: #e7e7ff;
  }

  .messages .mine {
    margin: 1em 0 1em auto;
    background-color: #cdeccd;
  }

  .messages .notification {
    margin: 0;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
  }

.input {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 19vh;
  border-top: 1vh solid #bbb;
  background-color: white;
}

  .input textarea, .input button {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    box-sizing: border-box;
    border: 0px;
  }

  .input textarea {
    right: auto;
    width: 80%;
    font-size: 2em;
  }

  .input button {
    left: auto;
    width: 20%;
    background-color: #e2e2e2;
  }
