textarea, button {
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
}

textarea {
  font-size: 20px;
  margin-right: 0px;
  border: 0px;
}

button {
  font-size: 1em;
  background-color: #eee;
  border: 1px solid #ddd;
  cursor: pointer;

  &:hover {
    border-color: #ccc;
    background-color: #ddd;
  }
}
